.modal__card {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  max-width: 498px;
  height: 610px;
  padding: 0;
}
.card-ilustration {
  position: relative;
  width: 100%;
  max-height: 400px;
  margin-bottom: 100px;
}
.modal_close-button {
  background-image: url("../../images/close-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.modal_close-button:hover {
  opacity: 0.4;
}
.modal__preview-image {
  max-width: 100%;
  /* height: 70%; */
}

.modal_preview_content {
  background-color: #fff;
  box-sizing: border-box;
  align-items: start;
  border-radius: 20px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  padding: 0;
  padding-bottom: 36px;
  width: 496px;
  position: relative;
}

.card_content {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-self: baseline;
  position: relative;
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  justify-content: center;
  cursor: pointer;
}
.card__content-subtitle {
  margin: 0;
}

.delete-button {
  position: absolute;
  border: 0;
  background-color: transparent;
  color: #ff4d00;
  right: 36px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  justify-content: center;
  cursor: pointer;
}

.delete-button:hover {
  opacity: 0.7;
}
